[submodule "Submodules/Doods.Frameworks.Std"]
	path = Submodules/Doods.Frameworks.Std
	url = https://github.com/doodz/Doods.Frameworks.Std.git
[submodule "Submodules/ProjectsSettings"]
	path = Submodules/ProjectsSettings
	url = https://github.com/doodz/ProjectsSettings.git
