<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="MobileCenterKey" value="cdbf5f17-53b4-4d21-8792-c57d926320d0" />

    <add key="FullVersion" value="0" />
    <add key="RefreshData" value="1" />
    <add key="ClearLocalData" value="0" />
    <add key="SynchronisationMaxTimeout" value="3" />
    <add key="Token" value="" />
    <add key="RefreshToken" value="" />
    <add key="RewardedVideoKey" value="ca-app-pub-4922361220283829/2830533190" />
    <add key="AdsKey" value="ca-app-pub-4922361220283829/5648268224" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>