<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="MobileCenterKey" value="toto-c450afea-31e7-4968-8d58-cd75af803c0c" />

     <add key="FullVersion" value="0" />
    <add key="RefreshData" value="1" />
    <add key="ClearLocalData" value="0" />
    <add key="SynchronisationMaxTimeout" value="3" />
    <add key="Token" value="" />
    <add key="RefreshToken" value="" />
   
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>